@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-size: 16px;
}

/* Custom Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500&display=swap');

.text-dynamic {
  font-size: var(--text-size) !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Public Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/* Responsive breakpoint for mobile devices */
@media (max-width: 1024px) {
  .w-1/6 { /* Targets the left/right columns */
    display: none;
  }
  .flex-1 { /* Main content area */
    width: 100% !important;
  }
  
  /* Optional: Adjust padding in mobile view */
  .p-4 {
    padding: 1rem;
  }
  
  .max-w-4xl {
    max-width: 100% !important;
  }
}